@charset "UTF-8";
/* 共通部分
--------------------------*/
html{
	font-size: 100%;
}

body{
	background-color: #111B25;
	color: #FFFFFF;
}

/* HEADER
--------------------------*/
.logo{
	width:150px;
	margin-top: 5px;
}

/* NAV
--------------------------*/
